
<div class="row" id="example-row" align="center" style="padding-left:75px;">

  <!-- Note the "full-card" class which stands for only one card. Add multiple "full-card" for more cards.  -->
  <div class="col-xs-12 col-md-9 full-card">
  <h3> <%= restaurant.name %> </h3>
  <p> <%= restaurant.address %> </p>
  <p> <%= restaurant.phone %> </p>
    <!-- This will be the card that is active. Note that there should only be one card active. -->
    <div class="flip-card active-card col-md-4">
      <div class="">
      <div class="card label-info" style="color: white;">
        <!-- The <h6> can also be a <img> which will be centered. -->
        <div style="padding:15px;"><h7><%= restaurant.google_rating || "x" %> </h7></div> <div class="make-the-fives-less-sucky denominator col-md-1 col-md-offset-9">/5</div>
      </div>

      <div class="well">
        <h5>Google</h5>
      
      </div>
      </div>
    </div>
    <div class="flip-card active-card col-md-4">
      <div class="card" style="background-color: #F1BF26;color: white;">
        <div style="padding:15px;"><h7><%= restaurant.yelp_rating || "x" %></h7></div><div class="make-the-fives-less-sucky denominator col-md-1 col-md-offset-9">/5</div>
      </div>
      <div class="well">
        <h5>Yelp</h5>
      </div>
    </div>
    <div class="flip-card active-card col-md-4">
      <div class="card alert-success" style="background-color: #199643;color: white;">
        <div style="padding:15px;"><h7><%= restaurant.foursquare_rating || "x" %></h7></div><div class="denominator col-md-1 col-md-offset-8 make-the-ten-less-sucky">/10</div>
      </div>
      <div class="well">
        <h5>Foursquare</h5>
      </div>
    </div>
    <div class="flip-card active-card col-md-12">
      <div class="card alert-success" style="  background-color: #FEFDFE; color: #FF5930; box-shadow:none;">
        <h7 class="col-md-6" style="border:1px solid;"><%= restaurant.average_rating || "x" %>%</h7><br>
        <h3 class="col-md-6" style="margin-top:10px;">Average</h3>
      </div>
      
    </div>

  </div>
</div>

<hr class="col-md-6 col-md-offset-2">




