<html>
  <body onload="initialize()" style="background-color: #FEFDFE;">

    <div class="col-md-12 jumbotron" style="box-shadow:none; background-color:" align="center">
    <div class="col-md-8 col-md-offset-2">
      <h1>Attack of the Reviews</h1>
      <h3>More reviews than you can handle.</h3><br>
    </div>
      <%= form_tag '/search', remote: true do |f| %>
      <div class="col-md-7 col-md-offset-3 stickit">
        <div class="form-group col-md-7" style="padding-top:12px;">
          <p><%= text_field_tag('search[query]', nil, placeholder: '  what do you crave?', class: "form-control", id: "focusOnSearch")%></p>
        </div>
        <%= hidden_field_tag "search[lt]" %> <!-- placeholder -->
        <%= hidden_field_tag "search[lg]" %> <!-- placeholder -->
        <h2 class="col-md-3" style="margin-top:0px;"><%= submit_tag "GET SEARCHING", class: "btn btn-flat btn-primary", id: "button"  %></h2>
        <% end %>
      </div>
    
    <%= render "map" %>

    <div class="col-md-6 scroll-flow" id="results">
    </div>
    <footer></footer>
  </body>

</html>